extends ../layouts/default

block content
  - var action = '/boxes'
  if (!box.isNew)
    - action += '/'+box.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type

  .row
    .span7
      form.form-horizontal(method="post",action=action)
        if (!box.isNew)
          input(type="hidden", name="_method", value="PUT")

        .control-group
          label.control-label(for='name') Name
          .controls
            input#title.input-xlarge(type='text', name="name", value=box.name, placeholder='Name your box')

        
        .control-group
          label.control-label(for='serial') Serial Number
          .controls
            input#title.input-xlarge(type='text', name="serial", value=box.serial, placeholder='Enter Serial Number')
            
        .control-group
          label.control-label(for='desc') Tags
          .controls
            input#tags(type='text', name="tags", value=box.tags, placeholder='Enter the tags')

        .form-actions
          button.btn.btn-primary(type='submit') Save changes
          &nbsp;
          a.btn(href='/boxes', title="cancel") Cancel
    
